<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>UTILITY OBJECT</h3>
<b>Tổng Hợp</b>
<ul>
	<li>Today: <b th:text="${#dates.format(now, 'EEE, dd-MM-yyyy')}"></b></li>
	<li>Number of Student: <b th:text="${#lists.size(listStudent)}"></b></li>
</ul>
<b>Danh sách</b>
<ul th:each="sv:${listStudent}" th:object="${sv}">
	<li>
		Name: <b th:text="*{#strings.capitalizeWords(name)}"></b>
	</li>
	<li>
		Marks: <b th:text="*{#numbers.formatDecimal(marks,0,'COMMA', 2, 'POINT')}"></b>
	</li>
	<li>
		Number of subjects: <b th:text="*{#arrays.length(subjects)}"></b>
	</li>
</ul>
</body>
</html>